@charset "utf-8";
*{margin:0;padding:0;border:0;-webkit-user-select:text; color:#333; font-family:'微软雅黑'; outline:none; font-size:13px; word-break:break-all; word-wrap:break-word;}
a,img{-webkit-touch-callout:none}
a{text-decoration:none; cursor:pointer; font-size:inherit; user-select: none;-webkit-user-select:none;}
ul,ol{list-style:none}
.f-none{display: none;}
.f-hidden{visibility: hidden;}
.f-tc{text-align: center;}
input[type="password"],input[type="text"]{resize:none;outline:none;-webkit-appearance:none;white-space:pre-wrap;word-wrap:break-word;background:#fff;overflow:scroll}
.clear{clear:both}
.table{display:table}
.tableSpan{display:table-cell; vertical-align:middle}

.ellipsis{overflow:hidden; text-overflow:ellipsis;-webkit-text-overflow:ellipsis; white-space:nowrap;}

.btnNormal{width:100%; display:inline-block; text-align:center; padding:10px 0; background:#04be02; border-radius:4px; color:#fff; margin:5px 0; box-sizing:border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); border: 1px solid rgba(0, 0, 0, 0.1); font-size:15px;}
.smallBtn{display:inline-block; text-align:center; padding:10px 40px; background:#20c51f; border-radius:5px; color:#fff; margin:5px 0; font-size:15px; border: 1px solid rgba(0, 0, 0, 0.1);}
.btnNormalWhite{width:100%; display:inline-block; text-align:center; padding:10px 0; background:#fff; border:solid 1px #ddd; border-radius:5px; color:#fff; margin:5px 0; box-sizing:border-box; color:#333; font-size:15px; border: 1px solid rgba(0, 0, 0, 0.1);}
.btnNormal:active,.smallBtn:active,.btnNormalWhite:active{-webkit-transform: scale(0.99);}
.inputNormal{width:100%; padding:10px 0px; border:solid 1px #ddd; border-radius:4px; font-size:13px; text-indent:10px; height:20px; line-height:20px;}
.textareaNormal{width:100%; padding:10px 10px; border:solid 1px #ddd; border-radius:4px; font-size:13px; line-height:20px; height:100px; box-sizing:border-box}

.textBig{font-size:16px;}
.textNormal{font-size:14px;}
.textMini{font-size:12px;}
.textLight{color:#888}

.textYellow{color:#ffa200}
.textGreen{color:#1ab700}
.textRed{color:#ff4b69}
.textRed2{color:#ff4646}


.showMsgBox{width:100%; padding:20px 18px; box-sizing:border-box; background:#fff; border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;}

.loadingImg{width:20px; height:20px; display:inline-block; position:relative; margin-right:5px}
.loadingImg span{background:url(../images/loadingImg.png); width:20px; height:20px; display:inline-block; background-size:cover; position:absolute; left:0; top:5px}
.imArrYou{width:6px; height:10.285px; display:inline-block; background:url(../images/imArrYou.png); background-size:cover}
.imArrMe{width:6px; height:10.285px; display:inline-block; background:url(../images/imArrMe.png); background-size:cover}

.iconImFace{background:url(../images/iconImFace.png); width:28px; height:28px; display:inline-block; background-size:cover; position:absolute; right:75px; top:1px;}
.iconImAdd{background:url(../images/iconImAdd.png); width:28px; height:28px; display:inline-block; background-size:cover; position:absolute; left:0; top:1px;}
.iconDele{background:url(../images/iconDele.png); width:20px; height:20px; display:inline-block; background-size:cover; position:absolute; top:-10px; right:-10px;}
.iconImImg{background:url(../images/iconImImg.png); width:30px; height:30px; display:inline-block; background-size:cover; margin:15px auto}
.backIcon{background:url(../images/iconImReturn.png); width:18px; height:18px; display:inline-block; background-size:cover; position:absolute; left:18px; top:14px;}
.icon_infr130{background:url(../images/icon_infr130.png); width:50px; height:50px; display:inline-block; background-size:cover; margin-bottom:5px;}

.wm_head{width:100%; height:85px; position:relative;}
.wm_head .wm_head_bg{ width:100%; height:85px;}
.wm_head .wave{position:absolute; bottom:0px; left:0; width:100%; z-index:8; max-height:15px}
.wm_head_title{position:absolute; top:28px; left:0; padding-left:20px; color:#fff; font-size:14px; height:30px; line-height:30px;}
.btnDiv{width:100%; padding:0 18px; margin-top:30px; text-align:center; box-sizing:border-box}
.iocn_close_big{width:50px; height:50px; display:inline-block; background:url(../images/iocn_close_big.png); background-size:cover}
.praise{width:30px; height:30px; display:inline-block; background:url(../images/praise.png); background-size:cover}
.praised{width:30px; height:30px; display:inline-block; background:url(../images/praised.png); background-size:cover}
.mustCenter{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.wm_head{width:100%; height:85px; position:relative;}
.wm_head .wm_head_bg{ width:100%; height:85px;}
.wm_head .wave{position:absolute; bottom:0px; left:0; width:100%; z-index:8; max-height:15px}
.wm_head_title{ position:absolute; top:27px; left:0; padding-left:20px; color:#fff; font-size:15px; height:30px; line-height:30px;}

.icon_right_arr{width:16px; height:16px; display:inline-block; background:url(../images/icon_right_arr.png); background-size:cover}

.chatIcongivewine{width:24px; height:24px; display:inline-block; background:url(../images/chatIcongivewine.png); background-size:cover}
.wineGiveIcon{width:24px; height:24px; display:inline-block; background:url(../images/wineGiveIcon.png); background-size:cover}

.iconSelectNo{width:22px; height:22px; display:inline-block; background:url(../images/iconSelectNo.png); background-size:cover}
.iconSelectNo.iconSelectYes{width:22px; height:22px; display:inline-block; background:url(../images/iconSelectYes.png); background-size:cover}

.cIcon_user{background:url(../images/iconUser.png); background-size:cover; width:10px; height:10px; display:inline-block}
.cIcon_horn{background:url(../images/iconHorn.png); background-size:cover; width:10px; height:10px; display:inline-block}
.cIcon_flag{background:url(../images/iconFlag.png); background-size:cover; width:10px; height:10px; display:inline-block}
.cIcon_content{background:url(../images/iconContentL.png); background-size:cover; width:14px; height:14px; display:inline-block}
.cIcon_tag{background:url(../images/iconTag.png); background-size:cover; width:10px; height:10px; display:inline-block}
.cIcon_noListIcn{background:url(../images/NoListIcn.png); background-size:cover; width:18px; height:18px; display:inline-block}
.cIcon_love{background:url(../images/iconLove.png); background-size:cover; width:12.7px; height:10px; display:inline-block}
.cIcon_arrTop{background:url(../images/iconArrTop.png); background-size:cover; width:15px; height:8.5px; display:inline-block}

.loadingImg{width:20px; height:20px; display:inline-block; position:relative; margin-right:5px}
.loadingImg span{background:url(../images/loadingImg.png); width:20px; height:20px; display:inline-block; background-size:cover; position:absolute; left:0; top:5px}

.loadingIcon{background:url(../images/009.gif); background-size:cover; width:24px; height:24px; display:inline-block}

.icon_inf_mini{background:url(../images/icon_inf_mini.png); background-size:cover; width:16px; height:16px; display:inline-block}

.iconRightFFF{background:url(../images/iconRightFFF.png); background-size:cover; width:30px; height:30px; display:inline-block}

.iocn_right_big{background:url(../images/iocn_right_big.png); background-size:cover; width:60px; height:60px; display:block}

.ellipsis{overflow:hidden; text-overflow:ellipsis; -webkit-text-overflow:ellipsis; white-space:nowrap;}

.noWMList{padding:50px 0 30px 0; text-align:center; font-size:13px; line-height:20px; color:#999;}
.noWMList i{background:url(../images/icon_infr130.png); width:40px; height:40px; display:block; background-size:cover; margin:0 auto 10px auto}

.loadMore tt{color:#aaa; font-size:10px;}
.loadMore{padding:5px 0 10px 0; text-align:center; display:none; width:100%;}
.loadMore.animate{-webkit-animation: opacity 1.5s linear infinite;}
@-webkit-keyframes opacity {
  0%{opacity:1}
  25%{opacity:0.75}
  50%{opacity:0.5}
  75%{opacity:0.75;}
  100%{opacity: 1;}
}
.noData{text-align:center; padding:20px 0; font-size:12px; color:#888}

.interact_time{background:url(../images/interact_time.png); background-size:cover; width:10px; height:10px; display:inline-block}
.interact_flag{background:url(../images/interact_flag.png); background-size:cover; width:7px; height:10px; display:inline-block}
.interact_right{background:url(../images/interact_right.png); background-size:cover; width:8px; height:15px; display:inline-block}

.iconPlace{background:url(../images/iconPlace.jpg); background-size:cover; width:12px; height:12px; display:inline-block}
.iconTel{background:url(../images/iconTel.jpg); background-size:cover; width:12px; height:12px; display:inline-block}