.skinBg-sky .skinBg{background:url(../images/skinBg-sky.png?a=1); background-size:cover;}
.skinBg-night .skinBg{background:url(../images/skinBg-night.png); background-size:cover;}
.skinBg-magic .skinBg{background:url(../images/skinBg-magic.png); background-size:cover;}
.skinBg-halloween .skinBg{background:url(../images/skinBg-halloween.jpg); background-size:cover;}